:root {
    --bg-dark: #1A2F3A;
    --logo-height: 100px;
    --header-height: 60px;
    --nav-height: 56px;
    --aside-width: 225px;
    --footer-height: 40px;
    --shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.1), 0 2px 49px 0 rgba(0, 0, 0, 0.06);
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* Layout em Grid */

.app {
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--header-height) var(--nav-height) auto var(--footer-height);
    grid-template-areas: "header" "menu" "content" "footer";
    height: 100vh;
    background-color: #F5F5F5;
    font: -webkit-control;
}

.header {
    grid-area: header;
    background-color: #1A2F3A;
    color: #F5F5F5;
    padding: 0px 15px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: var(--shadow);
}

header.header h1 {
    font-size: 1.8em;
}

nav.menu-area {
    grid-area: menu;
    box-shadow: var(--shadow);
}

div.dataTables_wrapper {
    margin: 0 auto;
    padding: 15px;
}

main.content {
    grid-area: content;
    padding: 0px 15px 0 15px;
    width: 1315px;
    margin: 0 auto;
}

main>div {
    background-color: #FFF;
    -webkit-box-shadow: 0px 0px 15px #0004;
    box-shadow: 0px 0px 15px #0004;
}

footer.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    color: #fff;
    background-color: #2A3F4A;
    box-shadow: var(--shadow);
}

@media(max-width: 770px) {
    .app {
        width: 770px;
        grid-template-rows: var(--header-height) var(--nav-height) 1fr var(--footer-height);
        grid-template-columns: 1fr;
        grid-template-areas: "header" "menu" "content" "footer";
    }
}


/* @media(max-width: 573px) {
    .app {
        grid-template-rows: var(--header-height) 1fr var(--footer-height);
        grid-template-columns: 1fr;
        grid-template-areas: "header" "menu" "content" "footer";
    }
} */